.blog-pages {
    margin-top: 37px
}

.blog-pages .blog-pages-left {
    float: left;
    color: #333
}

.blog-pages .blog-pages-left .blog-categories {
    list-style: none;
    margin: 0
}

.blog-pages .blog-pages-left .blog-categories .blog-category {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    cursor: pointer
}

.blog-pages .blog-pages-left .blog-categories .blog-category .blog-icon {
    display: block;
    height: 30px;
    width: 30px;
    background: url(../images/blog_plus.png) center no-repeat
}

.blog-pages .blog-pages-left .blog-categories .blog-category .blog-category-icon {
    width: 45px;
    height: 45px;
    background-color: #d3d3d3;
    float: left;
    text-align: center;
    line-height: 45px
}

.blog-pages .blog-pages-left .blog-categories .blog-category .blog-angle-right {
    display: none
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child {
    background-color: #fff;
    margin: 0;
    display: none
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child .cate-child-item {
    position: relative;
    margin-left: 45px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e3e4e4;
    padding-left: 39px
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child .cate-child-item:last-child {
    border: none
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child .cate-child-item .fa-circle {
    position: absolute;
    font-size: 9px;
    color: #E3E4E4;
    display: inline-block;
    top: 19px;
    left: 22px
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child .cate-child-item.active-child {
    position: relative
}

.blog-pages .blog-pages-left .blog-categories .blog-category .cate-child .cate-child-item.active-child .fa-angle-right {
    position: absolute;
    color: #b5b5b5;
    top: 14px;
    right: 7px;
    display: inline-block !important
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active .blog-icon {
    background: url(../images/blog_minus.png) center no-repeat
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active .blog-category-icon {
    background-color: #ffd454 !important;
    height: 45px
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active .blog-category-name {
    background-color: #fff;
    border-bottom: 1px solid #e3e4e4
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active .cate-child {
    display: block
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active2 {
    position: relative
}

.blog-pages .blog-pages-left .blog-categories .blog-category.active2 .blog-angle-right {
    display: block;
    position: absolute;
    color: #b5b5b5;
    top: 14px;
    right: 7px
}

.blog-pages .blog-pages-left .blog-categories .blog-category .blog-category-name {
    display: block;
    height: 45px;
    padding-left: 60px;
    line-height: 45px;
    background-color: #e3e4e4;
    color: #333
}

.blog-pages .blog-pages-right {
    position: relative;
    float: right
}

.blog-pages .blog-pages-right .blog-list {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 30px 35px 20px 20px
}

.blog-pages .blog-pages-right .blog-list:after {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/blog-sd.png) top 0 left 0 repeat-y;
    content: " ";
    height: 100%;
    width: 30px;
    display: block;
    margin: 0
}

.blog-pages .blog-pages-right .blog-list .blog-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E3E4E4;
    height: 163px;
    overflow: hidden
}

.blog-pages .blog-pages-right .blog-list .blog-item .blog-img {
    width: 187px;
    height: 124px;
    float: left
}

.blog-pages .blog-pages-right .blog-list .blog-item .blog-title {
    font-size: 18px;
    font-weight: 700;
    padding-left: 195px;
    color: #2b2b2b
}

.blog-pages .blog-pages-right .blog-list .blog-item .blog-title a {
    color: #2b2b2b
}

.blog-pages .blog-pages-right .blog-list .blog-item .blog-content {
    padding-left: 195px
}

.blog-pages .blog-pages-right .blog-detail {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 30px 43px 20px 20px
}

.blog-pages .blog-pages-right .blog-detail:after {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/blog-sd.png) top 0 left 0 repeat-y;
    content: " ";
    height: 100%;
    width: 30px;
    display: block;
    margin: 0
}

.blog-pages .blog-pages-right .blog-detail .img-title {
    display: block;
    margin: 0 auto
}

.blog-pages .blog-pages-right .blog-detail .article-title {
    font-size: 24px;
    font-weight: 700;
    color: #c7331f;
    margin: 15px 0
}

.blog-pages .blog-pages-right .blog-detail .block-date-time {
    border-bottom: 1px solid silver;
    padding-bottom: 15px
}

.blog-pages .blog-pages-right .blog-detail .block-date-time .date {
    color: #858585
}

.blog-pages .blog-pages-right .blog-detail .nh-row {
    border-bottom: 1px solid silver;
    margin-top: 2px
}

.blog-pages .blog-pages-right .blog-detail .article-content {
    padding-top: 15px;
    text-align: justify;
    color: #686868;
    line-height: 28px
}

.blog-pages .blog-pages-right .blog-detail .article-footer {
    background-color: #f5f5f5;
    padding: 12px;
    margin-top: 25px
}

.blog-pages .blog-pages-right .blog-detail .article-footer .prev-post {
    width: 240px;
    float: left
}

.blog-pages .blog-pages-right .blog-detail .article-footer .prev-post .icon-prev {
    display: block;
    color: #888
}

.blog-pages .blog-pages-right .blog-detail .article-footer .prev-post .name-prev {
    text-align: left;
    color: #222;
    font-size: 13px;
    font-weight: 500
}

.blog-pages .blog-pages-right .blog-detail .article-footer .next-post {
    width: 240px;
    float: right
}

.blog-pages .blog-pages-right .blog-detail .article-footer .next-post .icon-next {
    display: block;
    color: #888;
    text-align: right
}

.blog-pages .blog-pages-right .blog-detail .article-footer .next-post .name-next {
    display: inline-block;
    text-align: right;
    color: #222;
    font-size: 13px;
    font-weight: 500
}

.blog-pages .blog-pages-right .blog-detail .rela-post {
    margin-top: 30px;
    border-bottom: 2px solid #2f2f2f;
    padding-bottom: 50px
}

.blog-pages .blog-pages-right .blog-detail .rela-post .rela-item {
    display: inline-block;
    width: 32%;
    float: left;
    margin-right: 12px
}

.blog-pages .blog-pages-right .blog-detail .rela-post .rela-item .rela-img {
    width: 100%;
    height: 123px
}

.blog-pages .blog-pages-right .blog-detail .rela-post .rela-item .rela-title {
    font-size: 14px;
    font-weight: 500;
    color: #222
}

.blog-pages .blog-pages-right .blog-detail .rela-post .rela-item.last {
    margin-right: 0
}

.blog-pages .blog-pages-right .blog-detail .end-post {
    margin-top: 1px;
    border-bottom: 1px solid #2f2f2f
}

.blog-pages .blog-pages-right .blog-detail .comment .label-cmt {
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: #c7331f;
    margin: 10px 0
}

.blog-pages .blog-pages-right .blog-quick {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 195px;
    height: 100%;
    margin-left: -5px
}

.blog-pages .blog-pages-right .blog-quick .create-order-quick {
    color: #ca341f;
    font-weight: 700;
    padding-top: 17px;
    font-size: 12px;
    border-bottom: 1px solid #2e3037;
    margin-right: 20px;
    padding-bottom: 5px
}

.blog-pages .blog-pages-right .blog-quick .btn-blog-order {
    display: block;
    width: 164px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ceceda;
    margin-top: 10px;
    box-shadow: 2px 2px 2px #888;
    font-size: 13px
}

.blog-pages .blog-pages-right .blog-quick .btn-blog-order.order-china {
    color: #434343
}

.blog-pages .blog-pages-right .blog-quick .btn-blog-order.order-korea {
    color: #c8493a
}

@media screen and (min-width: 63.125em) {
    .blog-pages .blog-pages-left {
        width: 270px
    }

    .blog-pages .blog-pages-right {
        width: 700px
    }

    .blog-pages .blog-pages-right .blog-list {
        width: 100%
    }

    .blog-pages .blog-pages-right .blog-detail {
        width: 100%
    }

    .blog-pages .blog-pages-right .blog-quick {
        display: none
    }
}

@media screen and (min-width: 78.125em) {
    .blog-pages .blog-pages-left {
        width: 270px
    }

    .blog-pages .blog-pages-right {
        width: 870px
    }

    .blog-pages .blog-pages-right .blog-list {
        width: 675px
    }

    .blog-pages .blog-pages-right .blog-detail {
        width: 675px
    }

    .blog-pages .blog-pages-right .blog-quick {
        display: inline-block
    }
}

.block-post {
    padding-top: 10px;
    padding-right: 10px;
}

.post-title a {
    color: #4f4f4f;
    font-weight: 500;
    width: 100%;
    line-height: 20px;
    display: block;
}

.neo {
    position: fixed;
    width: 195px;
    top: 46px;
}

.block-neo {
    overflow: hidden;
}

.btn-blog-order, .install-extension-btn {
    color: #434343 !important;
}

.btn-blog-order:hover, .install-extension-btn:hover {
    color: #ca341f !important;
}

.install-extension-btn {
    display: block;
    width: 164px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ceceda;
    margin-top: 5px;
    box-shadow: 2px 2px 2px #888;
    font-size: 13px;
}

.more-option-text {
    display: block;
    width: 164px;
    font-style: italic;
    font-size: 14px;
    color: #555;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
}