.check-mess {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px;
}

.name, .phone, .verify_phone, .password, .check {
    display: none;
}

.check {
    display: none;
}

.lb-error {
    color: #C8331F;
    font-weight: bold;
}

.mess-error {
    color: #C8331F;

}

#get-code {
    margin-bottom: 7px;
}

.lb-success {
    color: blue;
    font-weight: bold;
}

.mess-success {
    color: blue;
}

#get-again {
    cursor: pointer;
    text-decoration: underline;
}

.ajax-load {
    background: url('/images/ajax.gif') no-repeat;
}

.sgup {
    padding-top: 19px !important;
}

.sgup .row-input input {
    margin-bottom: 8px;
}

.check-rule input[type="checkbox"] {
    display: none;
}

.check-rule input[type="checkbox"] + label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0 !important;
    float: left;
}

.check-rule input[type="checkbox"] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 4px 3px 0;
    vertical-align: middle;
    cursor: pointer;

}

.check-rule input[type="checkbox"] + label span {
    border: 1px solid #cfd1d2;
}

.check-rule input[type="checkbox"]:checked + label span {
    background-color: #c4321e;
}

.check-rule input[type="checkbox"] + label span,
.check-rule input[type="checkbox"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
.signup2 {
    border-top: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.user-name, .pass-word {
    display: none;
}
.reveal-overlay #modal-signup3 {
    width: 570px; }
.reveal-overlay #modal-signup3 .choice-type {
    /* One radio button per line */
    /* the basic, unchecked style */
    /* the checked style using the :checked pseudo class */ }
.reveal-overlay #modal-signup3 .choice-type fieldset .have-acc {
    float: left; }
.reveal-overlay #modal-signup3 .choice-type fieldset .no-acc {
    float: right; }
.reveal-overlay #modal-signup3 .choice-type fieldset .text {
    font-family: "Segoe UI";
    font-size: 16px; }
.reveal-overlay #modal-signup3 .choice-type [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.reveal-overlay #modal-signup3 .choice-type label {
    cursor: pointer; }
.reveal-overlay #modal-signup3 .choice-type [type="radio"] + span {
    display: inline-block; }
.reveal-overlay #modal-signup3 .choice-type [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid white;
    box-shadow: 0 0 0 0.09em #dcdcdc;
    margin-right: 0.75em;
    transition: 0.5s ease all; }
.reveal-overlay #modal-signup3 .choice-type [type="radio"]:checked + span:before {
    background: #55c20c; }
.reveal-overlay #modal-signup3 .signup3 {
    border-top: 1px solid #e8e7e7;
    margin-top: 25px;
    padding-top: 25px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form {
    position: relative; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-label {
    font-size: 12px;
    margin-bottom: 4px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-label .label-name {
    font-weight: 600;
    color: #93959a;
    text-transform: uppercase; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-label .message {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form input {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cacaca; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-name {
    width: 100%;
    height: 40px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-phone {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-phone {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-phone .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-phone .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .btn-get-verify {
    width: 135px;
    height: 40px;
    background-color: #9aa3b2;
    float: right;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 2px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .forgot-pass {
    float: right;
    font-size: 13px;
    color: #2b45c9;
    margin-top: -12px;
    border-bottom: 1px solid #2b45c9; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-code {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-code {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-code .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .success-code .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .input-pass {
    width: 100%;
    height: 40px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .show-pass {
    position: absolute;
    top: 127px;
    right: 8px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .show-pass .fa {
    font-size: 21px;
    color: #a3a2a2; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .show-pass .nb-eye {
    background: url("../images/eye.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .check-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 11px; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .check-ok {
    display: block;
    font-size: 13px;
    font-weight: 500; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .check-ok .rule {
    color: #2b45c9; }
.reveal-overlay #modal-signup3 .signup3 .signup3-form .btn-submit {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: white;
    margin-top: 25px;
    margin-bottom: 57px; }




.reveal-overlay #modal-signup3 {
    width: 570px; }
.reveal-overlay #modal-signup3 .form-signup .row-input {
    position: relative; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-label {
    font-size: 12px;
    margin-bottom: 4px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-label .label-name {
    font-weight: 600;
    color: #93959a;
    text-transform: uppercase; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-label .message {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px; }
.reveal-overlay #modal-signup3 .form-signup .row-input input {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px; }
.reveal-overlay #modal-signup3 .form-signup .row-input input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cacaca; }
.reveal-overlay #modal-signup3 .form-signup .row-input input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-name {
    width: 100%;
    height: 40px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-phone {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-phone {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-phone .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-phone .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .form-signup .row-input .btn-get-verify {
    width: 135px;
    height: 40px;
    background-color: #9aa3b2;
    float: right;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 2px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .forgot-pass {
    float: right;
    font-size: 13px;
    color: #2b45c9;
    margin-top: -9px;
    border-bottom: 2px solid #c2c7ec; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-code {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-code {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-code .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #modal-signup3 .form-signup .row-input .success-code .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .form-signup .row-input .input-pass {
    width: 100%;
    height: 40px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .show-pass {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .show-pass .fa {
    font-size: 21px;
    color: #a3a2a2; }
.reveal-overlay #modal-signup3 .form-signup .row-input .show-pass .nb-eye {
    background: url("../images/eye.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #modal-signup3 .form-signup .row-input .check-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 11px; }
.reveal-overlay #modal-signup3 .form-signup .row-input .check-ok {
    display: block;
    font-size: 13px;
    font-weight: 500; }
.reveal-overlay #modal-signup3 .form-signup .row-input .check-ok .rule {
    color: #2b45c9; }
.reveal-overlay #modal-signup3 .form-signup .row-input .btn-submit {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px; }
.reveal-overlay #modal-signup3 .form-signup .end-form {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 13px;
    margin-bottom: 25px; }

.pop-up-show {
    display: none;
}

.popup-close {
    padding: 3px 5px !important;
}

.mobile-close, .popup-close {
    background: #CF3520 !important;
}

.vex-content-mobile {
    width: 100% !important;
    max-width: 500px !important;
}

.popup-order-tq {
    width: 100% !important;
    max-width: 700px !important;
}

.popup-order-tq .btn-create-tq {
    float: right;
    color: #fff;
    background: #CF3520 !important;
    border-radius: 0;
    border: 0;
    margin: 0 0 0 0.5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.75em 2em;
}

.mobile-label {
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
    font-size: 14px;
}

.mobile-label input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -6px;
    *overflow: hidden;
}

.notice-item {
    float: left;
    min-height: 45px !important;
    line-height: 20px !important;
}

.notice-item .order-noti {
    float: left;
    width: 300px;
}

.notice-item .noti-time {
    font-size: 12px;
    margin-right: -5px;
    line-height: normal;
    display: block;
    float: right;
    color: #888;
}

.top-header .top-header-container .search-box .select-site-container .list-site-container .list-site:after {
    right: 28px !important;
}

.top-header .top-header-container .search-box .select-site-container .list-site-container .list-site {
    width: 125px !important;
}

.no-seen {
    background-color: rgba(115, 115, 115, 0.37) !important;
}

.top-header .top-header-container .create-order {
    border-right: none;
}

.top-header .top-header-container .notification-block .notification-block-message .notification-block-message-link {
    border-left: none;
}

.create-order-detail, .create-order-detail li {
    width: 272px !important;
}

.create-order-detail li a {
    width: 270px !important;
}

.exchange-rate-current {
    position: absolute;
    top: -143px;
    color: #555;
}

.exchange-rate-current b {
    font-weight: 500;
}

.notification-block-notice.active .notification-notice-details, .notification-block-message.active .notification-message-details,
.create-order.active .create-order-detail, .account-block.active .list-account-menu {
    display: block !important;
}
.notification-block-message {
    width: 30px !important;
}

.notification-block-message-link {
    background: none !important;
    color: #aeadad;
    margin-left: 20px !important;
    width: 34px !important;
}

.notification-block-message-link:hover, .notification-block-message-link:active, .notification-block-message-link:visited {
    color: #aeadad;
}

.notification-block-feedback {
    display: inline-block;
    float: left;
}

.notification-block-feedback-link {
    color: #aeadad;
    font-size: 14px;
    margin-left: 15px;
}

.notification-block-feedback-link:hover, .notification-block-feedback-link:active, .notification-block-feedback-link:visited {
    color: #aeadad;
}

.notification-message-details {
    right: -18px !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .account-name {
        width: 90px;
    }
}

.details-popup-content-2 {
    float: left;
    width: 425px;
    background-color: #FFF;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 10px;
}

.fb_phone, .fb_phone:focus, .fb_phone:active {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px;
    border: 1px solid #cacaca;
    outline: none;
}

.fb_content, .fb_content:focus, .fb_content:active {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px;
    border: 1px solid #cacaca;
    outline: none;
}

.btn-feedback {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-feedback:hover, .btn-feedback:active, .btn-feedback:visited {
    color: #fff;
}

.btn-feedback-close {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-feedback-close:hover, .btn-feedback-close:active, .btn-feedback-close:visited {
    color: #fff;
}

.fb_mess_phone, .fb_mess_content {
    color: #c8331f;
}

.fb_success {
    text-align: center;
    display: none;
    margin-top: 10px;
    color: blue;
}

.fb-notes {
    font-size: 13px;
    color: red;
}
.nb-signup {
    height: 20px;
    line-height: 16px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
    padding-right: 10px;
    margin-top: 5px;
    color: #666666;
    font-size: 13px;
}

a.nb-signup:hover {
    color: #666666;
}

a.nb-signup:visited {
    color: #666666;
}

.message-item-unread {
    background-color: #f5f7fa !important;
}

.widget-support .chat-box .widget-content .message-row .message-box {
    max-width: 100%;
    word-break: break-word;
}

.chat-features {
    display: none;
}
.row,.top-header,.top-navigation-container,.nh-description,.home-slide,.homepage-divide,.order-step,.footer-block,.blog-page {
    min-width: 997px;
}
.table-border {
    width: 100% !important;
}
.account-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 125px;
    display: inline-block;
    overflow: hidden;
}
.nh-popup {
    margin: 0 auto;
    min-height: 0px;
    height: auto;
}
@media screen and (max-width: 63.125em){
    .search-box {
        width: 335px;
        margin: 0px 20px;
    }
    .header-search {
        width: 198px;
    }
    .step-create-order {
        padding-left: 59px;
        margin-right: 10px;
        min-width: 155px;
    }
    .step-send-order {
        padding-left: 68px;
        margin-right: 10px;
        min-width: 155px;
    }
    .step-check-order {
        padding-left: 62px;
        margin-right: 10px;
        min-width: 155px;
    }
    .step-make-payment-order {
        padding-left: 54px;
        margin-right: 10px;
        min-width: 155px;
    }
    .step-confirm-order {
        padding-left: 53px;
        margin-right: 10px;
        min-width: 155px;
    }
    .step-delivery-order {
        padding-left: 59px;
        margin-right: 10px;
        min-width: 155px;
    }
    .origin-block {
        min-width: 995px;
    }
    .list-category li {
        margin-right: 20px;
    }
    .footer-block .footer-container .footer-block-contact{
        padding-right: 20px;
        max-width: 30%;
    }
    .footer-block .footer-container .footer-block-account-info{
        padding-right: 20px;
        max-width: 30%;
    }
    .footer-block .footer-container .footer-block-blog{
        padding-right: 20px;
        max-width: 25%;
    }
    .footer-block .footer-container .footer-block-cert{
        max-width: 140px;
    }
    .user-pages-left {
        max-width: 225px;
    }
    .user-pages-right {
        max-width: 760px;
    }
    .user-pages-right .item-table-content-last,.user-pages-right .item-table-content {
        min-width: 695px;
    }
    .user-pages-right .item-table-content-last {
        border-bottom: 1px solid #dfdfdf !important;
    }
    .user-pages-right .order-header {
        min-width: 705px;
    }
    .user-pages-right .z-custom {
        max-width: 695px;
    }
    .user-pages-right .list-order-header a {
        margin-left: 18px !important;
    }
    .pagination li {
        display: inline-block;
    }
    .user-pages-right {
        min-width: 760px;
    }
    .user-info {
        min-width: 704px !important;
    }
    .list-info {
        min-width: 497px;
    }
    .user-pages {
        min-width: 997px !important;
    }
    .blog-pages-left {
        max-width: 270px;
    }
    .blog-pages-right {
        max-width: 700px;
    }
    .blog-quick {
        display: none;
    }
    .order-status-bar {
        min-width: 997px;
    }
    .step-number {
        padding-right: 5px !important;
    }
    .order-float-bar-block {
        min-width: 990px;
    }
    .block-get-info .input-link {
        max-width: 285px;
    }
    .button-block {
        min-width: 465px;
        padding-left: 85px;
    }
    .order-page-tabs .x-custom {
        min-width: 957px;
    }
    .order-page-tabs .item-table-content {
        max-width: 957px;
    }
    .order-page-tabs .product-img img {
        width: 75px;
        height: 75px;
    }
    .order-page-tabs .column-serial {
        width: 30px;
    }
    .order-page-tabs .column-product-name {
        width: 280px;
    }
    .order-page-tabs .column-product-attribute {
        width: 140px;
    }
    .order-page-tabs .column-quantity {
        width: 120px;
    }
    .order-page-tabs .package-item-name {
        width: 200px;
    }
    .order-page-tabs .column-product-name {
        max-width: 280px;
    }
    .shop-detail-container {
        padding: 23px 5px 20px 5px;
    }
    .order-scroll-bar {
        display: none !important;
    }
    .order-summary {
        min-width: 997px;
    }
    .summary-right {
        max-width: 318px;
    }
    .tab-product-info .main-product-image {
        max-width: 310px;
    }
    .tab-product-info .product-thumbnails-carousel-container {
        max-width: 310px;
    }
    .tab-product-info .block-left {
        max-width: 310px;
    }
    .tab-product-info .product-thumbnails-carousel {
        max-width: 270px;
    }
    .tab-product-info .block-right {
        max-width: 650px;
        padding-right: 10px;
    }
    .tab-product-info .product-detail {
        padding: 10px 5px 58px;
    }

}
@media screen and (max-width: 70em){
    .step-number {
        padding-right: 3px !important;
    }
}

@media screen and (min-width: 63.125em){
    .footer-block .footer-container .footer-block-cert {
        width: 170px;
        margin-left: 30px;
    }
    .list-order-header a {
        margin-left: 20px !important;
    }
}
.quick-order-list-origin {
    z-index: 10;
}
.ui-pnotify {
    top:200px !important;
}
.ui-pnotify-container {

}
.brighttheme-icon-sticker {
    display: none;
}
.footer-logo-2 {
    float: left;
    margin-top: -5px;
    width: 150px;
    height: 38px;
    display: block;
}
@media screen and (min-width: 78.125em){
    .create-order{
        margin-left: 14px !important;
    }
}
.create-order{
    margin-top: 0px !important;
    height: 28px !important;
}
.create-order-link{
    line-height: 25px;
    height: 28px;
    display: block;
    float: left;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    background: #f6f7f7;
    padding-left: 8px;
    padding-right: 8px;
}
.create-order-link:hover{
    color: #2199e8 !important;
}
.address-list{
    padding-left: 15px;
}
.address-list li{
    display: inline-block;
}
p.hot-line{
    font-weight: 500;
    color: #4f4f4f;
    padding-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #EAEAEA;
}
p.hot-line span{
    font-weight: bold;
    color: #C44853;
    text-transform: uppercase;
}
p.hot-line span.email{
    display: inline-block;
    font-weight: 500;
    text-transform: none;
    font-size: 14px;
    color: #696969;
}
.footer-container .company-name{
    float: left;
    clear: both;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
    color: #565656;
}

.top-navigation .menu-item a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.list-notice .notice-item {
    cursor: pointer;
}
.dropDisplay {
    display: block !important;
}


@keyframes nhvex-fadein {
    /* line 9, ../sass/_keyframes.sass */
    0% {
        opacity: 0;
    }

    /* line 11, ../sass/_keyframes.sass */
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes nhvex-fadein {
    /* line 9, ../sass/_keyframes.sass */
    0% {
        opacity: 0;
    }

    /* line 11, ../sass/_keyframes.sass */
    100% {
        opacity: 1;
    }
}

@-moz-keyframes nhvex-fadein {
    /* line 9, ../sass/_keyframes.sass */
    0% {
        opacity: 0;
    }

    /* line 11, ../sass/_keyframes.sass */
    100% {
        opacity: 1;
    }
}

@-ms-keyframes nhvex-fadein {
    /* line 9, ../sass/_keyframes.sass */
    0% {
        opacity: 0;
    }

    /* line 11, ../sass/_keyframes.sass */
    100% {
        opacity: 1;
    }
}

@-o-keyframes nhvex-fadein {
    /* line 9, ../sass/_keyframes.sass */
    0% {
        opacity: 0;
    }

    /* line 11, ../sass/_keyframes.sass */
    100% {
        opacity: 1;
    }
}

@keyframes nhvex-fadeout {
    /* line 16, ../sass/_keyframes.sass */
    0% {
        opacity: 1;
    }

    /* line 18, ../sass/_keyframes.sass */
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes nhvex-fadeout {
    /* line 16, ../sass/_keyframes.sass */
    0% {
        opacity: 1;
    }

    /* line 18, ../sass/_keyframes.sass */
    100% {
        opacity: 0;
    }
}

@-moz-keyframes nhvex-fadeout {
    /* line 16, ../sass/_keyframes.sass */
    0% {
        opacity: 1;
    }

    /* line 18, ../sass/_keyframes.sass */
    100% {
        opacity: 0;
    }
}

@-ms-keyframes nhvex-fadeout {
    /* line 16, ../sass/_keyframes.sass */
    0% {
        opacity: 1;
    }

    /* line 18, ../sass/_keyframes.sass */
    100% {
        opacity: 0;
    }
}

@-o-keyframes nhvex-fadeout {
    /* line 16, ../sass/_keyframes.sass */
    0% {
        opacity: 1;
    }

    /* line 18, ../sass/_keyframes.sass */
    100% {
        opacity: 0;
    }
}

@keyframes nhvex-rotation {
    /* line 127, ../sass/_keyframes.sass */
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    /* line 129, ../sass/_keyframes.sass */
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}

@-webkit-keyframes nhvex-rotation {
    /* line 127, ../sass/_keyframes.sass */
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    /* line 129, ../sass/_keyframes.sass */
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}

@-moz-keyframes nhvex-rotation {
    /* line 127, ../sass/_keyframes.sass */
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    /* line 129, ../sass/_keyframes.sass */
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}

@-ms-keyframes nhvex-rotation {
    /* line 127, ../sass/_keyframes.sass */
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    /* line 129, ../sass/_keyframes.sass */
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}

@-o-keyframes nhvex-rotation {
    /* line 127, ../sass/_keyframes.sass */
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    /* line 129, ../sass/_keyframes.sass */
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
    }
}

/* line 11, ../sass/nhvex.sass */
.nhvex, .nhvex *, .nhvex *:before, .nhvex *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 14, ../sass/nhvex.sass */
.nhvex {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* line 25, ../sass/nhvex.sass */
.nhvex-overlay {
    background: black;
    filter: alpha(opacity=40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

/* line 30, ../sass/nhvex.sass */
.nhvex-overlay {
    animation: nhvex-fadein 0.5s;
    -webkit-animation: nhvex-fadein 0.5s;
    -moz-animation: nhvex-fadein 0.5s;
    -ms-animation: nhvex-fadein 0.5s;
    -o-animation: nhvex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* line 39, ../sass/nhvex.sass */
.nhvex.nhvex-closing .nhvex-overlay {
    animation: nhvex-fadeout 0.5s;
    -webkit-animation: nhvex-fadeout 0.5s;
    -moz-animation: nhvex-fadeout 0.5s;
    -ms-animation: nhvex-fadeout 0.5s;
    -o-animation: nhvex-fadeout 0.5s;
    -webkit-backface-visibility: hidden;
}

/* line 42, ../sass/nhvex.sass */
.nhvex-content {
    animation: nhvex-fadein 0.5s;
    -webkit-animation: nhvex-fadein 0.5s;
    -moz-animation: nhvex-fadein 0.5s;
    -ms-animation: nhvex-fadein 0.5s;
    -o-animation: nhvex-fadein 0.5s;
    -webkit-backface-visibility: hidden;
    background: white;
}
/* line 46, ../sass/nhvex.sass */
.nhvex.nhvex-closing .nhvex-content {
    animation: nhvex-fadeout 0.5s;
    -webkit-animation: nhvex-fadeout 0.5s;
    -moz-animation: nhvex-fadeout 0.5s;
    -ms-animation: nhvex-fadeout 0.5s;
    -o-animation: nhvex-fadeout 0.5s;
    -webkit-backface-visibility: hidden;
}

/* line 49, ../sass/nhvex.sass */
.nhvex-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7";
}

/* line 53, ../sass/nhvex.sass */
.nhvex-dialog-form {
    margin: 0;
}

/* line 56, ../sass/nhvex.sass */
.nhvex-dialog-button {
    -webkit-appearance: none;
    cursor: pointer;
}

/* line 60, ../sass/nhvex.sass */
.nhvex-loading-spinner {
    animation: nhvex-rotation 0.7s linear infinite;
    -webkit-animation: nhvex-rotation 0.7s linear infinite;
    -moz-animation: nhvex-rotation 0.7s linear infinite;
    -ms-animation: nhvex-rotation 0.7s linear infinite;
    -o-animation: nhvex-rotation 0.7s linear infinite;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1112;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    width: 2em;
    background: white;
}

/* line 76, ../sass/nhvex.sass */
body.nhvex-open {
    overflow: hidden;
}
@keyframes nhvex-pulse {
    /* line 136, ../sass/_keyframes.sass */
    0% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }

    /* line 138, ../sass/_keyframes.sass */
    70% {
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    }

    /* line 140, ../sass/_keyframes.sass */
    100% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }
}

@-webkit-keyframes nhvex-pulse {
    /* line 136, ../sass/_keyframes.sass */
    0% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }

    /* line 138, ../sass/_keyframes.sass */
    70% {
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    }

    /* line 140, ../sass/_keyframes.sass */
    100% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }
}

@-moz-keyframes nhvex-pulse {
    /* line 136, ../sass/_keyframes.sass */
    0% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }

    /* line 138, ../sass/_keyframes.sass */
    70% {
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    }

    /* line 140, ../sass/_keyframes.sass */
    100% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }
}

@-ms-keyframes nhvex-pulse {
    /* line 136, ../sass/_keyframes.sass */
    0% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }

    /* line 138, ../sass/_keyframes.sass */
    70% {
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    }

    /* line 140, ../sass/_keyframes.sass */
    100% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }
}

@-o-keyframes nhvex-pulse {
    /* line 136, ../sass/_keyframes.sass */
    0% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }

    /* line 138, ../sass/_keyframes.sass */
    70% {
        -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    }

    /* line 140, ../sass/_keyframes.sass */
    100% {
        -webkit-box-shadow: inset 0 0 0 300px transparent;
        -moz-box-shadow: inset 0 0 0 300px transparent;
        box-shadow: inset 0 0 0 300px transparent;
    }
}

/* line 11, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain {
    padding-top: 160px;
    padding-bottom: 160px;
}
/* line 15, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-content {
    font-family: "Helvetica Neue", sans-serif;
    background: white;
    color: #444444;
    padding: 1em;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 450px;
    font-size: 1.1em;
    line-height: 1.5em;
}
/* line 27, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-content h1, .nhvex.nhvex-theme-plain .nhvex-content h2, .nhvex.nhvex-theme-plain .nhvex-content h3, .nhvex.nhvex-theme-plain .nhvex-content h4, .nhvex.nhvex-theme-plain .nhvex-content h5, .nhvex.nhvex-theme-plain .nhvex-content h6, .nhvex.nhvex-theme-plain .nhvex-content p, .nhvex.nhvex-theme-plain .nhvex-content ul, .nhvex.nhvex-theme-plain .nhvex-content li {
    color: inherit;
}
/* line 30, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
/* line 36, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-close:before {
    position: absolute;
    content: "\00D7";
    font-size: 26px;
    font-weight: normal;
    line-height: 31px;
    height: 30px;
    width: 30px;
    text-align: center;
    top: 3px;
    right: 3px;
    color: #bbbbbb;
    background: transparent;
}
/* line 50, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-close:hover:before, .nhvex.nhvex-theme-plain .nhvex-close:active:before {
    color: #777777;
    background: #e0e0e0;
}
/* line 56, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-message {
    margin-bottom: 0.5em;
}
/* line 59, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input {
    margin-bottom: 1em;
}
/* line 62, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input textarea, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="date"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="datetime"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="datetime-local"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="email"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="month"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="number"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="password"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="search"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="tel"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="text"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="time"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="url"], .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="week"] {
    background: #f0f0f0;
    width: 100%;
    padding: 0.25em 0.67em;
    border: 0;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    min-height: 2.5em;
    margin: 0 0 0.25em;
}
/* line 73, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input textarea:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="date"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="datetime"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="datetime-local"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="email"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="month"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="number"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="password"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="search"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="tel"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="text"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="time"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="url"]:focus, .nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-input input[type="week"]:focus {
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    outline: none;
}
/* line 77, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-buttons {
    *zoom: 1;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.nhvex.nhvex-theme-plain .nhvex-dialog-form .nhvex-dialog-buttons:after {
    content: "";
    display: table;
    clear: both;
}
/* line 80, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    float: right;
    margin: 0 0 0 0.5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    line-height: 1em;
    padding: 0.75em 2em;
}
/* line 92, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-button.nhvex-last {
    margin-left: 0;
}
/* line 95, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-button:focus {
    animation: nhvex-pulse 1.1s infinite;
    -webkit-animation: nhvex-pulse 1.1s infinite;
    -moz-animation: nhvex-pulse 1.1s infinite;
    -ms-animation: nhvex-pulse 1.1s infinite;
    -o-animation: nhvex-pulse 1.1s infinite;
    -webkit-backface-visibility: hidden;
    outline: none;
}
@media (max-width: 568px) {
    /* line 95, ../sass/nhvex-theme-plain.sass */
    .nhvex.nhvex-theme-plain .nhvex-dialog-button:focus {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        -o-animation: none;
        -webkit-backface-visibility: hidden;
    }
}
/* line 104, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-button.nhvex-dialog-button-primary {
    background: #3288e6;
    color: white;
}
/* line 108, ../sass/nhvex-theme-plain.sass */
.nhvex.nhvex-theme-plain .nhvex-dialog-button.nhvex-dialog-button-secondary {
    background: #e0e0e0;
    color: #777777;
}

/* line 112, ../sass/nhvex-theme-plain.sass */
.nhvex-loading-spinner.nhvex-theme-plain {
    height: 2.5em;
    width: 2.5em;
}

.reveal-overlay #edit-info-address {
    width: 570px; }
.reveal-overlay #edit-info-address .choice-type {
    /* One radio button per line */
    /* the basic, unchecked style */
    /* the checked style using the :checked pseudo class */ }
.reveal-overlay #edit-info-address .choice-type fieldset .have-acc {
    float: left; }
.reveal-overlay #edit-info-address .choice-type fieldset .no-acc {
    float: right; }
.reveal-overlay #edit-info-address .choice-type fieldset .text {
    font-family: "Segoe UI";
    font-size: 16px; }
.reveal-overlay #edit-info-address .choice-type [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
.reveal-overlay #edit-info-address .choice-type label {
    cursor: pointer; }
.reveal-overlay #edit-info-address .choice-type [type="radio"] + span {
    display: inline-block; }
.reveal-overlay #edit-info-address .choice-type [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid white;
    box-shadow: 0 0 0 0.09em #dcdcdc;
    margin-right: 0.75em;
    transition: 0.5s ease all; }
.reveal-overlay #edit-info-address .choice-type [type="radio"]:checked + span:before {
    background: #55c20c; }
.reveal-overlay #edit-info-address .signup3 {
    border-top: 1px solid #e8e7e7;
    margin-top: 25px;
    padding-top: 25px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form {
    position: relative; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-label {
    font-size: 12px;
    margin-bottom: 4px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-label .label-name {
    font-weight: 600;
    color: #93959a;
    text-transform: uppercase; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-label .message {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form input {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cacaca; }
.reveal-overlay #edit-info-address .signup3 .signup3-form input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-name {
    width: 100%;
    height: 40px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-phone {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-phone {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-phone .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-phone .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .btn-get-verify {
    width: 135px;
    height: 40px;
    background-color: #9aa3b2;
    float: right;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 2px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .forgot-pass {
    float: right;
    font-size: 13px;
    color: #2b45c9;
    margin-top: -12px;
    border-bottom: 1px solid #2b45c9; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-code {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-code {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-code .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .success-code .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .input-pass {
    width: 100%;
    height: 40px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .show-pass {
    position: absolute;
    top: 127px;
    right: 8px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .show-pass .fa {
    font-size: 21px;
    color: #a3a2a2; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .show-pass .nb-eye {
    background: url("../images/eye.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .check-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 11px; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .check-ok {
    display: block;
    font-size: 13px;
    font-weight: 500; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .check-ok .rule {
    color: #2b45c9; }
.reveal-overlay #edit-info-address .signup3 .signup3-form .btn-submit {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: white;
    margin-top: 25px;
    margin-bottom: 57px; }




.reveal-overlay #edit-info-address {
    width: 570px; }
.reveal-overlay #edit-info-address .form-signup .row-input {
    position: relative; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-label {
    font-size: 12px;
    margin-bottom: 4px; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-label .label-name {
    font-weight: 600;
    color: #93959a;
    text-transform: uppercase; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-label .message {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px; }
.reveal-overlay #edit-info-address .form-signup .row-input input {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px; }
.reveal-overlay #edit-info-address .form-signup .row-input input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cacaca; }
.reveal-overlay #edit-info-address .form-signup .row-input input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-name {
    width: 100%;
    height: 40px; }
.reveal-overlay #edit-info-address .form-signup .row-input .success {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #edit-info-address .form-signup .row-input .success .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .form-signup .row-input .success .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-phone {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-phone {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-phone .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-phone .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .form-signup .row-input .btn-get-verify {
    width: 135px;
    height: 40px;
    background-color: #9aa3b2;
    float: right;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 2px; }
.reveal-overlay #edit-info-address .form-signup .row-input .forgot-pass {
    float: right;
    font-size: 13px;
    color: #2b45c9;
    margin-top: -9px;
    border-bottom: 2px solid #c2c7ec; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-code {
    width: 230px;
    height: 40px;
    display: inline-block; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-code {
    position: absolute;
    top: 41px;
    right: 154px; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-code .fa {
    font-size: 21px;
    color: #05b679; }
.reveal-overlay #edit-info-address .form-signup .row-input .success-code .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .form-signup .row-input .input-pass {
    width: 100%;
    height: 40px; }
.reveal-overlay #edit-info-address .form-signup .row-input .show-pass {
    position: absolute;
    top: 40px;
    right: 8px; }
.reveal-overlay #edit-info-address .form-signup .row-input .show-pass .fa {
    font-size: 21px;
    color: #a3a2a2; }
.reveal-overlay #edit-info-address .form-signup .row-input .show-pass .nb-eye {
    background: url("../images/eye.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
.reveal-overlay #edit-info-address .form-signup .row-input .check-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 11px; }
.reveal-overlay #edit-info-address .form-signup .row-input .check-ok {
    display: block;
    font-size: 13px;
    font-weight: 500; }
.reveal-overlay #edit-info-address .form-signup .row-input .check-ok .rule {
    color: #2b45c9; }
.reveal-overlay #edit-info-address .form-signup .row-input .btn-submit {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px; }
.reveal-overlay #edit-info-address .form-signup .end-form {
    border-bottom: 1px solid #d6d6d6;
    padding-top: 13px;
    margin-bottom: 25px;
}

#modal-complaint {
    width: 570px; }
#modal-complaint .choice-type {
    /* One radio button per line */
    /* the basic, unchecked style */
    /* the checked style using the :checked pseudo class */ }
#modal-complaint .choice-type fieldset .have-acc {
    float: left; }
#modal-complaint .choice-type fieldset .no-acc {
    float: right; }
#modal-complaint .choice-type fieldset .text {
    font-family: "Segoe UI";
    font-size: 16px; }
#modal-complaint .choice-type [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
#modal-complaint .choice-type label {
    cursor: pointer; }
#modal-complaint .choice-type [type="radio"] + span {
    display: inline-block; }
#modal-complaint .choice-type [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid white;
    box-shadow: 0 0 0 0.09em #dcdcdc;
    margin-right: 0.75em;
    transition: 0.5s ease all; }
#modal-complaint .choice-type [type="radio"]:checked + span:before {
    background: #55c20c; }
#modal-complaint .signup2 {
    border-top: 1px solid #e8e7e7;
    margin-top: 25px;
    padding-top: 25px; }
#modal-complaint .signup2 .signup2-form {
    position: relative; }
#modal-complaint .signup2 .signup2-form .input-label {
    font-size: 12px;
    margin-bottom: 4px; }
#modal-complaint .signup2 .signup2-form .input-label .label-name {
    font-weight: 600;
    color: #93959a;
    text-transform: uppercase; }
#modal-complaint .signup2 .signup2-form .input-label .message {
    font-size: 15px;
    color: #ee422b;
    padding-left: 2px; }
#modal-complaint .signup2 .signup2-form input {
    box-shadow: none;
    font-size: 18px;
    padding-right: 34px;
    padding-left: 13px;
    border-radius: 2px; }
#modal-complaint .signup2 .signup2-form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #cacaca; }
#modal-complaint .signup2 .signup2-form input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px; }
#modal-complaint .signup2 .signup2-form .input-name {
    width: 100%;
    height: 40px; }
#modal-complaint .signup2 .signup2-form .success {
    position: absolute;
    top: 40px;
    right: 8px; }
#modal-complaint .signup2 .signup2-form .success .fa {
    font-size: 21px;
    color: #05b679; }
#modal-complaint .signup2 .signup2-form .success .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
#modal-complaint .signup2 .signup2-form .input-phone {
    width: 230px;
    height: 40px;
    display: inline-block; }
#modal-complaint .signup2 .signup2-form .success-phone {
    position: absolute;
    top: 41px;
    right: 154px; }
#modal-complaint .signup2 .signup2-form .success-phone .fa {
    font-size: 21px;
    color: #05b679; }
#modal-complaint .signup2 .signup2-form .success-phone .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
#modal-complaint .signup2 .signup2-form .btn-get-verify {
    width: 135px;
    height: 40px;
    background-color: #9aa3b2;
    float: right;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    border-radius: 2px; }
#modal-complaint .signup2 .signup2-form .forgot-pass {
    float: right;
    font-size: 13px;
    color: #2b45c9;
    margin-top: -12px;
    border-bottom: 1px solid #2b45c9; }
#modal-complaint .signup2 .signup2-form .input-code {
    width: 230px;
    height: 40px;
    display: inline-block; }
#modal-complaint .signup2 .signup2-form .success-code {
    position: absolute;
    top: 41px;
    right: 154px; }
#modal-complaint .signup2 .signup2-form .success-code .fa {
    font-size: 21px;
    color: #05b679; }
#modal-complaint .signup2 .signup2-form .success-code .nb-check {
    background: url("../images/check.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
#modal-complaint .signup2 .signup2-form .input-pass {
    width: 100%;
    height: 40px; }
#modal-complaint .signup2 .signup2-form .show-pass {
    position: absolute;
    top: 127px;
    right: 8px; }
#modal-complaint .signup2 .signup2-form .show-pass .fa {
    font-size: 21px;
    color: #a3a2a2; }
#modal-complaint .signup2 .signup2-form .show-pass .nb-eye {
    background: url("../images/eye.png") no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer; }
#modal-complaint .signup2 .signup2-form .check-box {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-right: 11px; }
#modal-complaint .signup2 .signup2-form .check-ok {
    display: block;
    font-size: 13px;
    font-weight: 500; }
#modal-complaint .signup2 .signup2-form .check-ok .rule {
    color: #2b45c9; }
#modal-complaint .signup2 .signup2-form .btn-submit {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: #c8331f;
    float: right;
    color: white;
    margin-top: 25px;
    margin-bottom: 57px; }

.home-slide .home-slide-container {
    outline-style: none
}

.home-slide .home-slide-container .home-slide-item .home-slide-img {
    width: 100%
}

.home-slide .home-slide-container .home-slide-item.row-slide-1 {
    background-color: #ffdd5b
}

.home-slide .home-slide-container .home-slide-item.row-slide-2 {
    background-color: #93cdb7
}

.home-slide .home-slide-container .home-slide-item.row-slide-3 {
    background-color: #cdcdcd
}

.home-slide .home-slide-navigation {
    position: relative
}

.home-slide .home-slide-navigation .home-slide-bullets {
    list-style: none;
    position: absolute;
    right: 0;
    top: -250px
}

.home-slide .home-slide-navigation .home-slide-bullets li button {
    outline-style: none;
    width: 10px;
    height: 10px;
    background-color: #b8b8b8
}

.home-slide .home-slide-navigation .home-slide-bullets li button.is-active {
    background-color: #d60a0a
}

.quick-order-container {
    position: relative;
    z-index: 999;
}

.quick-order-container .quick-order-box {
    position: absolute;
    width: 536px;
    height: 40px;
    border: 2px solid #FFF;
    display: block
}

.quick-order-container .quick-order-box .input-link {
    height: 38px;
    width: 325px;
    float: left;
    border: none;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    transition: none;
    margin: 0;
    padding: 8px;
    padding-top: 5px;
    color: #bfbfbf
}

.quick-order-container .quick-order-box .input-link::-webkit-input-placeholder {
    color: #bfbfbf;
    font-style: italic
}

.quick-order-container .quick-order-box .quick-order-btn-block {
    position: relative;
    float: right
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-btn {
    width: 207px;
    height: 36px;
    line-height: 36px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
    background: #CF3520 url(../images/quick_order_btn_bg.png) right 10px top 13px no-repeat
}

.quick-order-container .quick-order-box .quick-order-btn-block.active .quick-order-list-origin {
    display: block
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-list-origin {
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    list-style: none;
    background: #CF3520;
    width: 207px;
    left: 0;
    margin: 0;
    border: 2px solid #fff
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-list-origin li {
    width: 100%
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-list-origin li a {
    color: #FFF;
    float: left;
    width: 100%;
    line-height: 28px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 5px 5px 10px
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-list-origin li:hover a {
    background: #e6e8ea;
    color: #2199e8
}

.quick-order-container .quick-order-box .quick-order-btn-block .quick-order-list-origin:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 7px;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #FFF transparent
}

.quick-order-container .quick-order-box .install-extension-btn {
    width: 216px;
    height: 51px;
    display: block;
    background: url(../images/install_extension_bg.png) no-repeat;
    float: right;
    margin-top: 12px
}

.quick-order-container .quick-order-box .more-option-text {
    float: right;
    height: 51px;
    margin-right: 18px;
    font-style: italic;
    font-size: 14px;
    color: #555;
    font-weight: 500;
    margin-top: 25px
}

@media screen and (min-width: 63.125em) {
    .quick-order-container .quick-order-box {
        top: -120px;
        margin-left: 5px
    }
}

@media screen and (min-width: 78.125em) {
    .quick-order-container .quick-order-box {
        top: -120px;
        margin-left: 0
    }
}

.homepage-divide {
    width: 100%;
    height: 5px;
    display: block;
    background: url(../images/home_divide_bg.png) repeat-x;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px
}

ul.order-step {
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 57px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1
}

ul.order-step li {
    height: 66px;
    float: left;
    display: block;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    position: relative;
    padding-top: 20px
}

ul.order-step li:last-child {
    margin-right: -1px
}

ul.order-step li.step-create-order {
    background: #FFF url(../images/step_create_order_bg.png) no-repeat
}

ul.order-step li.step-send-order {
    background: #FFF url(../images/step_send_order_bg.png) no-repeat
}

ul.order-step li.step-check-order {
    background: #FFF url(../images/step_check_order_bg.png) no-repeat
}

ul.order-step li.step-make-payment-order {
    background: #FFF url(../images/step_make_payment_bg.png) no-repeat
}

ul.order-step li.step-confirm-order {
    background: #FFF url(../images/step_confirm_order_bg.png) no-repeat
}

ul.order-step li.step-delivery-order {
    background: #FFF url(../images/step_delivery_bg.png) no-repeat
}

ul.order-step li .step-text {
    float: left;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #444
}

ul.order-step li .step-text.text-below {
    clear: both;
    margin-top: 3px
}

ul.order-step li:after {
    content: " ";
    width: 22px;
    height: 22px;
    background: url(../images/home_list_step_bg.png) no-repeat;
    display: block;
    position: absolute;
    top: 20px;
    right: -11px
}

.origin-block {
    float: left;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-top: 2px solid #d60a0a;
    padding: 19px;
    padding-bottom: 47px;
    background-color: #FFF;
    margin-bottom: 70px;
    position: relative
}

.origin-block:after {
    content: " ";
    width: 100%;
    position: absolute;
    bottom: -41px;
    left: 0;
    height: 42px;
    display: block;
    background: url(../images/shop_box_shadow_bg.png) center no-repeat
}

.origin-block .origin-header {
    float: left;
    width: 100%;
    background: url(../images/origin_header_bg.png) repeat-x left center;
    font-size: 25px;
    text-align: center;
    color: #777C74;
    line-height: 20px;
    margin-bottom: 35px
}

.origin-block .origin-header .origin-title {
    background: #fff;
    padding: 0 35px
}

.origin-block .origin-header .origin-title strong {
    color: #D33319;
    font-size: 35px
}

.origin-block .list-category {
    float: left;
    margin: 0;
    margin-bottom: 50px
}

.origin-block .list-category li {
    float: left;
    width: 170px;
    margin-bottom: 20px
}

.origin-block .list-category li a.image-link {
    float: left;
    width: 170px;
    height: 170px;
    position: relative
}

.origin-block .list-category li a.image-link img {
    width: 170px;
    height: 170px
}

.origin-block .list-category li a.image-link .category-title {
    font-family: 'Roboto Condensed', sans-serif;
    width: 160px;
    display: block;
    background-color: #fefcf8;
    opacity: .99;
    position: absolute;
    bottom: 0;
    left: 5px;
    color: #946f55;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    cursor: text;
    pointer-events: none;
    text-transform: uppercase
}

.origin-block .list-category li .view-more {
    float: left;
    width: 100%;
    text-align: center;
    color: #555;
    margin-top: 10px;
    font-style: italic
}

.origin-block .search-block {
    width: 480px;
    margin: 0 auto;
    text-align: center
}

.origin-block .search-block .origin-keyword {
    float: left;
    width: 415px;
    height: 34px;
    font-size: 15px;
    border: 1px solid #b2b2b2;
    background-color: #FFF;
    color: #a1a1a1;
    margin-right: 5px;
    box-shadow: none;
    outline: none
}

.origin-block .search-block .origin-keyword:focus {
    box-shadow: none;
    outline: none
}

.origin-block .search-block .origin-search-btn {
    float: left;
    width: 58px;
    height: 34px;
    line-height: 34px;
    display: block;
    text-align: center;
    background-color: #d60a0a;
    color: #FFF
}
#home-slide .owl-dot.active{
    background: #d60a0a;
}
#home-slide .owl-dots{
    position: absolute;
    right: 70px;
    top: 50%;
    margin-top: -15px;
}
#home-slide .owl-dot{
    outline-style: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b8b8b8;
    margin-bottom: 10px;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 0;
    background: #f2f2f2;
}
.owl-carousel .owl-nav .owl-next{
    left: auto;
    right: 0;
}
@media screen and (min-width: 63.125em) {
    ul.order-step li {
        width: 155px;
        margin-right: 10px;
        background-position: left 5px center !important
    }

    ul.order-step li.step-create-order {
        padding-left: 59px
    }

    ul.order-step li.step-send-order {
        padding-left: 68px
    }

    ul.order-step li.step-check-order {
        padding-left: 62px
    }

    ul.order-step li.step-make-payment-order {
        padding-left: 54px
    }

    ul.order-step li.step-confirm-order {
        padding-left: 53px
    }

    ul.order-step li.step-delivery-order {
        padding-left: 59px
    }

    .origin-block .list-category li {
        margin-right: 25px
    }

    .origin-block .list-category li:nth-child(5n) {
        margin-right: -1px
    }

    .origin-block .list-category li:nth-child(6n) {
        margin-right: 25px
    }
}

@media screen and (min-width: 78.125em) {
    ul.order-step li {
        width: 180px;
        margin-right: 18px;
        background-position: left 15px center !important
    }

    ul.order-step li.step-create-order {
        padding-left: 74px
    }

    ul.order-step li.step-send-order {
        padding-left: 90px
    }

    ul.order-step li.step-check-order {
        padding-left: 77px
    }

    ul.order-step li.step-make-payment-order {
        padding-left: 69px
    }

    ul.order-step li.step-confirm-order {
        padding-left: 68px
    }

    ul.order-step li.step-delivery-order {
        padding-left: 74px
    }

    .origin-block .list-category li {
        margin-right: 22px
    }

    .origin-block .list-category li:nth-child(5n) {
        margin-right: 22px
    }

    .origin-block .list-category li:nth-child(6n) {
        margin-right: -1px
    }
}
